*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ffffff; 
    padding: 20px;
}

.navbar {
    margin-bottom: 0px; 
}

.navbar-default {
    background-color: #f8f9fa; 
    border-color: #e7e7e7; 
}

.navbar-default .navbar-brand {
    color: #333; 
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888; 
}

.container-fluid {
    height: 62px;
    background-color: #f0f0f0; 
}

h1, h2 {
    margin: 20px 0; 
}

.text-center {
    text-align: center;
}

.col-xs-12 {
    float: left;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    position: relative;
    color: #000;
}

/* Media Queries */

/* Mobile Styles (xs) */
@media (max-width: 767px) {

    .container{
        margin-top: 150px;
    }
    .section_title {
        font-size: 20px; 
        margin-top: 15px; 
    }
    p {
        padding: 10px; 
    }
}

/* Tablet Styles (sm) */
@media (min-width: 768px) and (max-width: 991px) {
    .section_title {
        font-size: 22px; 
        margin-top: 18px; 
    }
    
    p {
        padding: 15px; 
    }
}

/* Desktop Styles (md and up) */
@media (min-width: 992px) {
    .section_title {
        font-size: 24px; 
        margin-top: 20px; 
    }
    
    p {
        padding: 20px; 
    }
}